:root {
    --index: calc(1vw + 1vh)
}

.input {
    /* height: calc(var(--index) * 1); */
    width: calc(var(--index) * 20);
    margin: 0px 20px;
    border: 2px solid #9f9f9f;
    font-size: calc(var(--index) * 0.55);
    padding: calc(var(--index) * 0.4);
    border-radius: calc(var(--index) * 0.2);
}

::placeholder {
    color: #b4b4b4;
}